In [16]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [17]:
file_path ="C:/Users/Osman/Desktop/DOCUMENTS/Hackathon/app/models/SifreGücüBelirleme/data.csv"
df = pd.read_csv(file_path, on_bad_lines='skip')

In [18]:
df.head()

      password  strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1

In [19]:
df = df.dropna()

df["strength"] = df['strength'].map({0 : "Weak",
                                    1 : "Medium",
                                    2 : "Strong"})

df.head(5)

      password strength
0     kzde5577   Medium
1     kino3434   Medium
2    visi7k1yr   Medium
3     megzy123   Medium
4  lamborghin1   Medium

In [20]:
def word(password):
    character=[]
    for i in password:
        character.append(i)
    return character

x = np.array(df["password"])
y = np.array(df["strength"])

tfidf = TfidfVectorizer(tokenizer=word, lowercase=False, token_pattern=None)

x = tfidf.fit_transform(x)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.05, random_state=0)

In [7]:
model = RandomForestClassifier()
model.fit(x_train, y_train)
print("Score of the model is", model.score(x_test, y_test), ".")

Score of the model is 0.9711486769010215 .

In [14]:
with open("sifregucu.pkl", "wb") as f:
    pickle.dump((model, tfidf), f)

In [8]:
user = "jokin585f"
data = tfidf.transform([user]).toarray()
output = model.predict(data)
print(output)

['Medium']